paths:
  /api/roles:
    get:
      tags:
        - Roles
      summary: 'Get roles'
      description: Get roles the database.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/role'
      responses:
        '200':
          description: Get roles the database.
        '422':
          description: Could not fetch data from database.