paths:
  /api/roles/put/{id}:
    put:
      tags:
        - Put role
      summary: 'update role data'
      description: update the role data in the database.
      parameters:
        - name: id
          in: path
          description: ID of the role to update.
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/role'
      responses:
        '200':
          description: update role data.
        '422':
          description: Failed to update role.