@tailwind base;
@tailwind components;
@tailwind utilities;

.login-container{
  width: 40%;
}

@media (max-width: 800px) {
  .login-container {
    width: 70%;
    margin-right: 1.5rem;
  }

  .eduweb-img{
    display: none;
  }
}
